In [1]:
#41. Tupple printing
tup=("Renita","Renuga","Timo")
print(tup)

('Renita', 'Renuga', 'Timo')

In [2]:
#42. Accessing tuple items- index starts from 0.
print(tup[2])

Timo

In [3]:
#43. Accessing tuple items- Negative index- last element is -1.
print(tup[-2])

Renuga

In [4]:
#44. Range of indexes
tup1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tup1[2:5])

('cherry', 'orange', 'kiwi')

In [7]:
#45. Range of negative indexes
tup1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tup1[-4:-2])

('orange', 'kiwi')

In [8]:
#46. Converting tuple to list
x=list(tup1)
print(x)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [9]:
#47. Converting tuple to list to make changes
x[1]="papaya"
tup1=tuple(x)
print(tup1)

('apple', 'papaya', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [10]:
#48. Looping through tuple
for x in tup1:
  print(x)

apple
papaya
cherry
orange
kiwi
melon
mango

In [12]:
#49. Checking if item exists
if "melon" in tup1:
  print("Hi I am melon")

Hi I am melon