In [1]:
#41. Tupple printing
tup=("Renita","Renuga","Timo")
print(tup)

('Renita', 'Renuga', 'Timo')

In [2]:
#42. Accessing tuple items- index starts from 0.
print(tup[2])

Timo

In [3]:
#43. Accessing tuple items- Negative index- last element is -1.
print(tup[-2])

Renuga

In [4]:
#44. Range of indexes
tup1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tup1[2:5])

('cherry', 'orange', 'kiwi')

In [7]:
#45. Range of negative indexes
tup1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tup1[-4:-2])

('orange', 'kiwi')

In [8]:
#46. Converting tuple to list
x=list(tup1)
print(x)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [9]:
#47. Converting tuple to list to make changes
x[1]="papaya"
tup1=tuple(x)
print(tup1)

('apple', 'papaya', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [10]:
#48. Looping through tuple
for x in tup1:
  print(x)

apple
papaya
cherry
orange
kiwi
melon
mango

In [12]:
#49. Checking if item exists
if "melon" in tup1:
  print("Hi I am melon")

Hi I am melon

In [13]:
#50. Length of tuple
print(len(tup1))

7

In [14]:
#51. Join two tuples
joint=tup+tup1
print(joint)

('Renita', 'Renuga', 'Timo', 'apple', 'papaya', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [16]:
#52. Tuple constructor
tuple1=tuple((1,2,3))
print(tuple1)

(1, 2, 3)

In [17]:
#53. Creating sets
set1={"Sam","Preethi","George"}
print(set1)

{'Sam', 'Preethi', 'George'}

In [19]:
#54. Accessing items in sets
for x in set1:
    print(x)

Sam
Preethi
George

In [21]:
#55. Check if item is present
print("Preethi" in set1)

True

In [22]:
#56. Adding items
set1.add("Regina")
print(set1)

{'Sam', 'Regina', 'Preethi', 'George'}

In [23]:
#57. Update
set1.update([1,2,3,4])
print(set1)

{1, 'Sam', 2, 3, 4, 'Regina', 'Preethi', 'George'}

In [24]:
#58. Length of set.
print(len(set1))

8

In [25]:
#59.Removing.
set1.remove(4)
print(set1)

{1, 'Sam', 2, 3, 'Regina', 'Preethi', 'George'}

In [28]:
#60. removing item not in list raises error but discarding doesn't raise error.
set1.discard(9)
print(set1)

{1, 'Sam', 2, 3, 'Regina', 'Preethi', 'George'}

In [29]:
#61. pop method.
x = set1.pop()
print(x)
print(set1)

1
{'Sam', 2, 3, 'Regina', 'Preethi', 'George'}

In [30]:
#62. Clearing the set
set1.clear()
print(set1)

set()

In [32]:
#63. Deleting the set
set1={"Sam","Preethi","George"}
del set1
print(set1)

NameError: name 'set1' is not defined

In [33]:
#64. Union.
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [34]:
#65. Updating
set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

In [36]:
#66. Set constructor
set3 = set(("apple", "banana", "cherry")) # note the double round-brackets
print(set3)

{'banana', 'cherry', 'apple'}

In [37]:
#67. Is disjoint
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

In [38]:
#68. Is subset 
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)

True

In [39]:
#69. Intersection Update
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [40]:
#70. is upper set
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

True

In [41]:
#71. Set symmetric difference
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'google', 'banana', 'microsoft', 'cherry'}